<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <slides>
            <slides>
                <view_list>1</view_list>
                <number>5</number>
            </slides>
        </slides>
    </default>
</config>
