<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="SlideGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Boxydev\Slider\Model\ResourceModel\Slide\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">SlideGridFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="SlideGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="boxydev_slide_list_data_source" xsi:type="string">Boxydev\Slider\Model\ResourceModel\Grid\Slide\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Boxydev\Slider\Model\ResourceModel\Grid\Slide\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">boxydev_slide</argument>
            <argument name="resourceModel" xsi:type="string">Boxydev\Slider\Model\ResourceModel\Slide</argument>
        </arguments>
    </virtualType>

    <virtualType name="Boxydev\Slider\SlideImageUpload"
                 type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">boxydev/tmp/slide</argument>
            <argument name="basePath" xsi:type="string">boxydev/slide</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Boxydev\Slider\Controller\Adminhtml\Slide\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Boxydev\Slider\SlideImageUpload</argument>
        </arguments>
    </type>

    <type name="Boxydev\Slider\Controller\Adminhtml\Slide\Edit">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Boxydev\Slider\SlideImageUpload</argument>
        </arguments>
    </type>

    <preference for="Boxydev\Slider\Api\SlideRepositoryInterface" type="Boxydev\Slider\Model\SlideRepository" />
    <preference for="Boxydev\Slider\Api\Data\SlideInterface" type="Boxydev\Slider\Model\Slide" />
    <preference for="Boxydev\Slider\Api\Data\SlideSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
</config>
