<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="boxydev" translate="label" sortOrder="1000">
            <label>Boxydev</label>
        </tab>
        <section id="slides" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Slides</label>
            <tab>boxydev</tab>
            <resource>Boxydev_Slider::slide</resource>
            <group id="slides" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slides configuration</label>
                <field id="view_list" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show slide list</label>
                    <comment>Show slide</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="number" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Slides number</label>
                    <comment>Slides number</comment>
                </field>
            </group>
        </section>
    </system>
</config>
